/* ============================================================
 * THEME INLINE
 * - Maps semantic theme variables to base root colors
 * - Provides a consistent naming system for easier usage
 * - Ensures scalability when updating or extending the palette
 * ============================================================ */
@theme inline {
    --color-black: var(--black);
    --color-black-hard: var(--black-hard);
    --color-blue: var(--blue);
    --color-cyan: var(--cyan);
    --color-forst: var(--forst);
    --color-gray: var(--gray);
    --color-green: var(--green);
    --color-orange: var(--orange);
    --color-red: var(--red);
    --color-sky: var(--sky);
    --color-white: var(--white);
    --color-yellow: var(--yellow);
    --black: hsl(214, 6%, 21%);
    --black-hard: hsl(0 0% 5%);
    --blue: hsl(221.90, 93.55%, 51.37%);
    --cyan: hsl(194.30, 97.42%, 69.61%);
    --forst: hsl(216.00, 40.54%, 92.75%);
    --gray: hsl(225 23% 96%);
    --green: hsl(85, 100%, 40%);
    --orange: hsl(24 100% 50%);
    --red: hsl(17 100% 50%);
    --sky: hsl(198 100% 43%);
    --white: hsl(0 0% 100%);
    --yellow: hsl(44 100% 52%);
}
